
/* general */

:root {
	--color-primary-color: #ff6900;
	--color-secondary-color: #ffffff;
	--color-contrast-color: #1a1a1a;
	--color-flag-discont: #ff0000;
	--color-flag-eco: #008000;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/* utility */
/* .debug{
    border: 1px solid black;
    min-height: 30px;
} */
.text-secondary{
    color: var(--color-secondary-color);
}
.content{
    max-width: 1200px;
    margin:0 auto;
}
.img-fluid{
    width:100%;
}
.text-center{
    text-align: center;
}

/* Flex */

.d-flex{
    display: flex;
    flex-flow: row wrap;
}
.justify-end{
    justify-content: flex-end;
}
.align-items-center{
    align-items: center;
}

/* header */
header{
    background-color: var(--color-primary-color);
    box-shadow: 0 2px 4px #666;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 55 ;
    font-weight: bold;
}
.header-content{
    height: 60px;
}
.logo-content{
    width: 30%;
    margin-left: 50%;
    
}
.img-fluid.logo{
    object-fit: cover;
}
.item-header{
    width: calc(100% / 3);
}
.item-header li{
    padding: 0 8px;
}

/* main */
main{
    padding: 70px 0;

}
.card{
    width: calc(100% / 3);
    position: relative;
    padding: 15px 0;
}
.img-container{
    width: 100%;
    padding: 0 10px;
}
.img-fluid.main{
    display: block;
}
.img-fluid.hidden-second{
    display: none;
}
.card:nth-child(1):hover #img1{
    display:none;
}
.card:nth-child(1):hover #img1b{
    display:block;
}
.card:nth-child(2):hover #img2{
    display:none;
}
.card:nth-child(2):hover #img2b{
    display:block;
}
.card:nth-child(3):hover #img3{
    display:none;
}
.card:nth-child(3):hover #img3b{
    display:block;
}
.card:nth-child(4):hover #img4{
    display:none;
}
.card:nth-child(4):hover #img4b{
    display:block;
}
.card:nth-child(5):hover #img5{
    display:none;
}
.card:nth-child(5):hover #img5b{
    display:block;
}
.card:nth-child(6):hover #img6{
    display:none;
}
.card:nth-child(6):hover #img6b{
    display:block;
}
.description{
    padding: 0 10px;
}
.brand-name{
    font-size: 0.7em;
}
.itm-title{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;

}
.price{
    color:var(--color-flag-discont);
    font-size: 0.8em;

}
.old.price{
    color: var(--color-contrast-color);
    text-decoration: line-through;
}
.flag-container{
    position: absolute;
    left: 10px;
    bottom: 120px;
}
.flag{
    padding: 2px 
    5px;
    margin: 2px;
}
.flag-discont{
    background-color: var(--color-flag-discont);
    
}
.flag-eco{
    background-color: var(--color-flag-eco);
}
.heart-container{
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--color-contrast-color);
    background-color: var(--color-secondary-color);
    position: absolute;
    top: 30px;
    right:10px;
}
.heart-container:hover{
    color:var(--color-flag-discont);
}


/* footer */
footer{
    background-color: var(--color-contrast-color);
    font-size: 0.8em;
}
.title-legal-social>h3{
    padding: 5px;

}
.d-flex.legal>li{
    padding: 5px;
}
.title-legal-social.left{
    width: 80%;
}
.title-legal-social.right{
    width: 20%;
}
.ul-icon.fa-ul{
    margin: 0;
}